h1{
    line-height: 1em;
}
a{  font-style:italic;
    text-transform:uppercase;
    text-decoration: none;
}
img{
    width: 30%;
}
/* Body-to-show */      
#body-to-show{
    margin: 0;
    font-family: 'Rosarivo', sans-serif;
    background-color:rgb(148, 148, 248);
}

/* Website-left-side */
#website-left-side{
    margin: 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.website-logo{
    width:50%;
}